.container {
    font-family: 'Arial', sans-serif;
    background-color: #5631a0;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 250px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button {
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    background-color: #349560;
    color: #0f0f0f;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00cc00;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  